In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/cobros_final.csv")

/var/folders/th/l_973jss7177y23lq6k2vcvh0000gn/T/ipykernel_61431/3609074044.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/cobros_final.csv")

In [4]:
df.head()

,idListaCobro,idCredito,consecutivoCobro,idBanco,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,fechaEnvioCobro,idEmisora
0,100613,83021,27169966,BANAMEX,572.24,572.24,0.0,NaN,Cuenta Insuficiencia Fondos,30/09/2022 7:33AM,30/09/2022,Banamex Excepciones Cuenta ...
1,100613,87227,27169937,BANAMEX,517.74,517.74,0.0,NaN,Cuenta Insuficiencia Fondos,30/09/2022 7:33AM,30/09/2022,Banamex Excepciones Cuenta ...
2,100613,103785,27169946,BANAMEX,681.23,681.23,0.0,NaN,Cuenta Insuficiencia Fondos,30/09/2022 7:33AM,30/09/2022,Banamex Excepciones Cuenta ...
3,100613,110463,27169969,BANAMEX,572.24,572.24,0.0,NaN,Cuenta Insuficiencia Fondos,30/09/2022 7:33AM,30/09/2022,Banamex Excepciones Cuenta ...
4,100613,113755,27169948,BANAMEX,340.62,340.62,0.0,NaN,Cuenta Insuficiencia Fondos,30/09/2022 7:33AM,30/09/2022,Banamex Excepciones Cuenta ...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10057440 entries, 0 to 10057439
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   idListaCobro        int64
 1   idCredito           int64
 2   consecutivoCobro    int64
 3   idBanco             object
 4   montoExigible       float64
 5   montoCobrar         float64
 6   montoCobrado        float64
 7   fechaCobroBanco     object
 8   idRespuestaBanco    object
 9   fechaCreacionLista  object
 10  fechaEnvioCobro     object
 11  idEmisora           object
dtypes: float64(3), int64(3), object(6)
memory usage: 920.8+ MB

In [7]:
df.isnull().sum()

idListaCobro                0
idCredito                   0
consecutivoCobro            0
idBanco                     0
montoExigible               0
montoCobrar                 0
montoCobrado                0
fechaCobroBanco       9679374
idRespuestaBanco       149561
fechaCreacionLista          0
fechaEnvioCobro             0
idEmisora                   0
dtype: int64

In [8]:
df.shape

(10057440, 12)